*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#cursor{
    height: 15px;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.681);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
/* #cursor-blur{
    height: 300px;
    width: 300px;
    background-color: rgba(213, 153, 153, 0.431);
    border-radius: 50%;
    position: fixed;
    filter:blur(30px);
} */

#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    z-index: 99;
    position: fixed;
    justify-content: space-between;
    position: absolute;
}

.nav-options{
    display: flex;
    gap: 50px;
    /* font-family: sans-serif; */
}

#nav span{
    display: none;
    font-size: 25px;
    
}

#nav img{
    height:3.75rem;
    object-fit: contain;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(250, 247, 247, 0.201);
    
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

#page1 h1{
    font-weight: 900;
    font-size: 10vw;
    margin-top: 10px 0 20px 0;
    position: relative;
}

#page1 h1::before{
    content: "Hotels";
    color: white;
    top: -1px;
    left: -1px;
    -webkit-text-stroke:1px rgba(248, 241, 241, 0.913);
    z-index: -1;
    position: absolute;
}

#page1 h2{
    font-weight: 800;
    font-size: 4vw;
}

#page1 p{
    font-weight: 500;
    font-size: 2vw;
    width: 50%;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #E9D0D0;
}

#scroller{
    /* background-color: red; */
    white-space:nowrap ;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 9vw;
    font-weight: 900;
    /* font-family: 'gilroy'; */
    margin-right: 10px;
    transition: all linear;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.879);
}

#scroller h4:hover{
    color: black;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.about-us{
    height: 40%;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us .info{
    width: 50%;
    text-align: center;
}

.about-us h3{
    font-size: 6.25rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.about-us p{
    font-size: 25px;
    line-height: 26px;
}

#page3, #page4, #page5{
    min-height: 100vh;
    width: 100%;
    padding: 0 10rem;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

#heading{
    margin-left: 8rem;
    font-size: 2rem;
}

.card{
    height: 22rem;
    width: 15rem;
    margin: 1rem;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.card h1{
    color: white;
    text-align: center;
    position: relative;
    top: 45%;
    font-weight: 500;

}

#card1{
    background-image: url(./assets/miami.webp);
}
#card2{
    background-image: url(./assets/angeles.webp);
}
#card3{
    background-image: url(./assets/cannes.webp);
}
#card4{
    background-image: url(./assets/mumbai.webp);
}
#card5{
    background-image: url(./assets/paris.webp);
}
#card6{
    background-image: url(./assets/london.webp);
}
#card7{
    background-image: url(./assets/vegas.webp);
}
#card8{
    background-image: url(./assets/dublin.webp);
}
#card9{
    background-image: url(./assets/newyork.webp);
}

#card10{
    background-image: url(./assets/morocco.webp);
}
#card11{
    background-image: url(./assets/mexico.webp);
}
#card12{
    background-image: url(./assets/france.webp);
}
#card13{
    background-image: url(./assets/india.webp);
}
#card14{
    background-image: url(./assets/thailand.webp);
}
#card15{
    background-image: url(./assets/ireland.webp);
}
#card16{
    background-image: url(./assets/uk.webp);
}
#card17{
    background-image: url(./assets/italy.webp);
}
#card18{
    background-image: url(./assets/usa.webp);
}

#card16 h1{
    font-size: 25px;
}

#page5{
    padding: 0 17.5rem;
}

#page5 #heading{
    margin-left: 0rem;
    font-size: 2rem;
}

#page5 .img-container{
    width: 100%;
    margin-top: 1rem;
    /* background-color: red; */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: none;
    display: flex;
}

.img-card{
    height: 6.5rem;
    width: 6rem;
    /* background-color: blue; */
    margin: 0.3rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-card img{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    box-shadow:2px 2px 5px black;
}
.img-card p{
    margin-top: 7px;
    font-size: 12px;
}

#page6{
    min-height: 100vh;
    width: 100%;
}
.approved{
    background: #1C1C1C;
    height: 17.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.box{
    background: #333333;
    position: absolute;
    width: 60%;
    height: 75%;
    border-radius: 10px;
}

.box .para{
    color: white;
    padding: 1.5rem;
}
.para #title{
    font-size: 16px;
    font-weight: 600;
}
#head{
    color: #ABAAAB;
}
.para p{
    font-size: 13px;
    font-weight: 100;
    word-spacing: 2px;
    line-height: 17px;
    margin: 0.5rem 0;
}
.footer{
    padding: 4rem 1rem 4rem 1rem;
}
.column{
    display: flex;
    justify-content: center;
    gap: 0 8rem;
}

#subs h5{
    line-height: 30px;
    font-size: 17px;
    font-weight: 100;
}




